{% block dashboard %}
<div id="summary">
{% if useremail == "admin@gmail.com" %}
<table class="table">
	<thead>
	  <tr>
		<th scope="col">Type</th>
		<th scope="col">Number</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<td>User</td>
		<td>{{ record }}</td>
	  </tr>
	  <tr>
		<td>Document</td>
		<td>{{ docrecord }}</td>
	  </tr>
	</tbody>
  </table>
  {% else %}
  <table class="table">
	<thead>
	  <tr>
		<th scope="col">Type</th>
		<th scope="col">Number</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<td>Document</td>
		<td>{{ docrecord }}</td>
	  </tr>
	</tbody>
  </table>
{% endif %}
</div>
{% endblock %}