
<div id="editdiv">
	<h4>Edit Details</h4>
	Name<br><input type="text" id="editname" required /><br>
	Email<br><input type="text" id="editemail" required /><br>
	Company<br><input type="text" id="editcompany" required /><br>
	Phone no.<br><input type="text" id="editphone" required /><br>
	<br>
	<button  class ="btn2" id="editbtn">submit</button>
	<button  class ="btn2" id="editclosebtn">close</button>
</div>

<script>
$('#editclosebtn').click(function()
{
	$('#editdiv').hide();
	
});

</script>