<div id='maindiv'></div>
<center><h1 id="m">Hello Programmer Welcome !!</h1></center>
<br>
<center><p id= "b">We will rock together....</p></center>
<br>

<center><p id="a">Here, we can add user and document files</p></center>
</div>
<style>
#maindiv
{
    margin-top: 100px;
}
#m{
    text-decoration: none;
    text-shadow: 2px;
    color: lightskyblue;
}
#a,#b
{
    color:white;  
}
</style>